**/.claude/settings.local.json
data/interim/*
data/processed/*
data/raw/*
data/results/*
logs/*
reports/figures/*
sku_subs/*
.claude/*
CLAUDE.md
src/data/__pycache__/*
src/visualization/__pycache__/*
src/utils/__pycache__/*
src/__pycache__/*
